@media screen and ( max-width: 576px){ 
/* Navbar style */

.navbar-toggler:focus{
  box-shadow: none;
}

.navbar-nav{
  align-items: center;
}

.banner{
  /* margin-top: 50px; */
  height: auto !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

}

.banner-img{
  display: flex;
  justify-content: center;
}
.skill-card{
  width: 300px;
  height:100px;
}
.container .banner-img img{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 300px !important;
  }
}